.about {
	background-color: #fbfaf5;
	margin: 0px;
	padding: 0px;
	font-family: Arial;
}

.back {
	text-decoration: none;
	border-style: solid;
  border-color: #59260B;
  border-radius: 3px;
  background: #59260B;
  color: white;
  position: absolute;
  right: 0px;
  width: 110px;
  text-align: center;
}

.box {
	height: 100%;
	width: 100%;
}

.border {
	border-bottom-width: 10px;
	border-style: solid;
	border-color: #59260B;
	max-width: 100%;
	max-height: 100%;
}

.me {
	padding: 20px 0px 20px 20px;
	font-size: 50px;
	color: #59260B;
}

p {
	font-style: normal;
}

.polo {
	height: 230px;
	width: 190px;
	text-align: center;
	border-radius: 2px;
	box-shadow: 10px 10px 25px 0px rgba(176,174,176,1);
	background-color: white;
	font-size: 20px;
	font-family: Berlin Sans FB, Arial;
	display: block;
	position: absolute;
	margin: 50px 150px;
	line-height: 30px;
	color: #59260B;
}

.photobox {
	height: 170px;
	width: 170px;
	margin-top: 10px;
	box-sizing: border-box;
	border-radius: 2px;	
	background-size: 170px 170px;
	cursor: pointer;
}
	




