body {
	background-color: #fbfaf5;
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	overflow-y: hidden;
}

.back {
	text-decoration: none;
	border-style: solid;
  border-color: #59260B;
  border-radius: 3px;
  background: #59260B;
  color: white;
  position: absolute;
  right: 0px;
  width: 110px;
  text-align: center;
  top: 80px;
}

i {
	font-style: normal;
}

.me {
	padding: 20px 0px 20px 20px;
	font-size: 50px;
	color: #59260B;
}

p {
	font-style: normal;
}

.pictureabout{
	background-image: url(/about/assets/images/me.png)
}

.pictureproject{
	background-image: url(/about/assets/images/projects.png)
}

.pictureexperience{
	background-image: url(/about/assets/images/experience.png)
}

.pictureeducation{
	background-image: url(/about/assets/images/education.png)
}

.picturetech{
	background-image: url(/about/assets/images/tech.png)
}

.pictureprogram{
	background-image: url(/about/assets/images/program.png)
}

.picturehobby{
	background-image: url(/about/assets/images/hobby.png)
}

.pictureextra{
	background-image: url(/about/assets/images/extra.png)
}

.picturecontact{
	background-image: url(/about/assets/images/contact.png)
}

.polo {
	height: 230px;
	width: 190px;
	text-align: center;
	border-radius: 2px;
	box-shadow: 10px 10px 25px 0px rgba(176,174,176,1);
	background-color: white;
	display: block;
	position: absolute;
	font-size: 20px;
	font-family: Berlin Sans FB, Arial;
	line-height: 30px;
}	

.photobox {
	height: 170px;
	width: 170px;
	margin: 10px;
	box-sizing: border-box;
	border-radius: 2px;	
	background-size: 170px 170px;
	background-repeat: no-repeat;
	border: none;
	background-color: white;
}
	
#top, #bottom, #left, #right {
	background: #59260B;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 10px;
		margin-top: 100px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		}
		#top { top: 0; margin-top: 100px; height: 10px;}
		#bottom { bottom: 0; height: 40px;}



/* smartphone */
@media screen and (max-width: 480px){
	#top, #bottom, #left, #right{
		display: none;
	}

	.back{
		top: 109px;
	}

	.polo{
		display: none;
	}

	.aboutphoto{
		height: 170px;
		width: 170px;
		margin: 50px;
	}

	html{
		text-align: center;
		overflow-y: scroll;
	}
}

@media screen and (min-width: 480.1px) and (max-width: 620px){
	#bottom, #left, #right{
		display: none;
	}

	.polo{
		display: none;
	}

	.aboutphoto{
		height: 170px;
		width: 170px;
		margin: 50px;
	}

	html{
		text-align: center;
	}
}

/* Tablet */
@media screen and (min-width: 480.1px) and (max-width: 1023.9px){
	#bottom, #left, #right{
		display: none;
	}

	.polo{
		display: none;
	}

	.aboutphoto{
		height: 170px;
		width: 170px;
		margin: 50px;
	}

	html{
		text-align: center;
	}
}

/* normal screen desktop */
@media (min-width: 1024px){
	.aboutphoto{
	display: none;
	}
}

/* big screen desktop */
@media (min-width: 1200px){
	.aboutphoto{
		display: none;
	}
}
